
    body{
      background-color: bisque;
    }
    .pet1{
      display: flex;
    margin-left: 50px;
     }
     .pet1 img{
       margin-left: 150px;
     }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  /* background-color: lightgray; */
}

li {
  float: left;
}

li a {
  /* display: block; */
  color: blue;
 font-size:30px;
  text-align: center;
  padding: 30px 50px;
  text-decoration: none;
}
.active{
background-color: gray;
color: rgb(245, 242, 242);
font-size: 30px;
}
li a:hover {
  /* background-color: orange; */
  color: rgb(26, 12, 12);
}
#a{
    float: right;

}
p{
font-size: 90px;
color: rgb(17, 33, 79);
padding-left: 50px;
line-height: 20px;
font-style: italic;
}
.pet{
    font-size: 35px;
    color:rgb(17, 33, 79) ;
}
.two{
    font-size: 35px;
    color:rgb(17, 33, 79) ;
}
.button {
 
  background-color:rgb(117, 73, 164);
  border-radius: 20px;
  border-color: rgb(117, 73, 164);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 200px;
}
.video
    { 
      margin-right: 90px;
        border-radius: 30px;   
        box-shadow: 10px 10px 10px rgb(7, 7, 7);
        margin-top: 150px;
        /* transition-duration: 5s;
        clear: right;
        cursor: pointer; */
    }
    .take{
     display: flex;
  
    }
        .take h2{
      /* padding-top: 150px; */
      margin-top: 350px;
    text-shadow:1px 1px 2px rgb(211, 67, 224);
    font-weight: bold;
    font-size: 70px;
    margin-left: 50px;
    }
    .img2{
      margin-top: 350px;
      margin-left: 100px;
      display: flex;

    }
  
    .img1{
     display: flex;
     cursor: pointer;
    transition-duration: .5s;
    clear: right;
    margin-top: 120px;
    }
        .img1 h1{
      /* padding-top: 150px; */
      margin-top: 300px;
    text-shadow:1px 1px 2px rgb(211, 67, 224);
    font-weight: bold;
    font-size: 70px;

    }
    .container {
    display: flex;
    /* width: ; */
    height: 300px;
}
.container1 {
    display: flex;
    /* width: ; */
    height: 300px;
    margin-top: 20px;
    padding-top: 30px;
}

.img img{
    margin-top: 20px;
    margin-left: 250px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition-duration: .5s;
    clear: right;
}
.img img:hover{
    width:300px;
    height: 300px;
}
.img .one{
    margin-left:180px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    color: rgb(77, 7, 78);
    font-style: inherit;
    text-align: center;
}
.img .six{
    margin-top: 20px;
    margin-left: 80px;
    width: 300px;
    height: 250px;
    cursor: pointer;
    transition-duration: .5s;
    clear: right;
}
.img .six:hover{
    width:340px;
    height: 300px;
}
.para{
  font-size: 40px;
  font-style: italic;
  color: rgb(95, 27, 159);

}
.img4{
margin-left: 200px;
}
.copy{
            /* background-color: rgb(83, 228, 137); */
            /* height: 40px; */
            text-align: center;
            padding: 3px;
            font-size: 30px;

        }
        .full{
          margin-left: 190px;
        }